
<p>Your current level is <%=@schedule.level + 1%></p>

<% if @schedule.current_workout.start_date > DateTime.current%>
  <p>Workout <%=@schedule.workouts.count%> starts on <%=@schedule.current_workout.start_date.strftime("#{@schedule.current_workout.start_date.day.ordinalize} of %B")%></p>

  <p>See you then</p>
<% else %>
  <p>Workout <%=@schedule.workout.count%></p>
  <%= link_to "Sart Workout", workout_path(@schedule.current_workout) %>
<% end %>
